.top-bar {
    background: #4aaaa5;
    display: inline-block;
    width: 60%;
}

.top-bar > h1 {
    display: inline-block;
    margin-left: 35px;
    
}

.top-bar > ul {
    /* display: inline-block; */
    float: right;
    margin-right: 35px;

}

.top-bar > ul > li {
    display: inline-block;

}

